{% extends "admin/index.html.twig" %}

{% block body %}
<div class="container">

<div class="mb-3">
  <label for="" class="form-label">Product Name</label>
 
    <input type="text"
      class="form-control" disabled value="{{details_products.productName}}" aria-describedby="helpId" placeholder="">
    
</div>

<div class="mb-3">
  <label for="" class="form-label">The Price</label>
  <input type="text"
      class="form-control" disabled value="{{details_products.price}}" aria-describedby="helpId" placeholder="">
    
</div>

<div class="mb-3">
  <label for="" class="form-label">Image</label>
  <img src="{{details_products.image}}" class="img-thumbnail rounded-top" alt="">
</div>

<div class="mb-3">
 
  <label for="" class="form-label">Quantity</label>
  <input type="text"
      class="form-control" disabled value="{{details_products.quantity}}" aria-describedby="helpId" placeholder="">
    
</div>
<div class="mb-3">
  <label for="" class="form-label">Description</label>
  <input type="text"
      class="form-control" disabled value="{{details_products.description}}" aria-describedby="helpId" placeholder="">
    
</div>

<div class="mb-3">
  <label for="" class="form-label">Brand</label>
 <input type="text"
      class="form-control" disabled value="{{details_products.brand}}" aria-describedby="helpId" placeholder="">
    
</div>

<div class="mb-3">
  <label for="" class="form-label">Category</label>
  <input type="text"
      class="form-control" disabled value="{{category_details.name}}" aria-describedby="helpId" placeholder="">
    
</div>

</div>
 
{% endblock %}