{% extends "admin/index.html.twig" %}

{% block body %}
<a href="{{path('admin_create_category')}}" class="btn btn-success">Create new Categories</a>

    <div class="container">
        <table class="table table-hover table-inverse table-responsive">
            <thead class="thead-inverse">
                <tr>
                    <th>ID</th>
                    <th>Category Name</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for row in list_categories %}
                    <tr>
                        <td scope="row">{{row.id}}</td>
                        <td>{{row.name}}</td>
                       
                        <td>
                        <a name="" id="" class="btn btn-outline-dark" href="{{path('app_admin_edit_category',{'id':row.id})}}" role="button">Edit</a>
                        <a name="" id="" class="btn btn-outline-danger" href="{{path('app_admin_delete_category',{'id':row.id})}}" role="button">Delete</a>
                        <a name="" id="" class="btn btn-outline-success" href="{{path('app_admin_details_category',{'id':row.id})}}" role="button">Details</a>
                        </td>
                    </tr>
                {% endfor %}
                    
                </tbody>
        </table>
        
    </div>
{% endblock %}